.Chat-main
  .Chat-main__group-info
    .Catalog
      .Catalog__name
        .Member
          .Member__text
            = @group.name
          .Member__team
            - current_user.groups.each do |group|
              = group.name
      .Catalog__edit
        = link_to edit_group_path(@group.id), class: "Catalog__btn" do
          Edit
  .Chat-main__message-list
    = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Up"}, local: true do |f|
      .Content
        .Up
          = f.text_field :content, class: 'Up__text', placeholder: 'type a message'
          = f.label :image, class: 'Up__image' do
            = icon('far', 'image', class: "Up__icon")
            = f.file_field :image, class: 'Up__folder'
        = f.submit 'Send', class: 'Send_btn'