.Side-bar
  .Side-bar__user-name
    .Top-items
      .Top-items__name
        = current_user.name
      .Top-items__icons
        = link_to new_group_path, class: "Top-items__icons" do
          = icon('far', 'edit', class: "Icon1")
        = link_to edit_user_path(current_user), class: "Top-items__icons" do
          = icon('fas', 'cog',  class: "Icon2")
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Group-name
        = link_to '#' do
          .Group-name__title
            = group.name
          .Group-name__text
            メッセージはまだありません